# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# CMake and IDE
**/CMakeCache.txt
**/Makefile
**/*.cmake
**/CMakeFiles/**
**/build/**
**/build_clang/**
**/.vs/**
**/.idea/**


# Resources Files
**/resources/models/**
**/resources/textures/**
